
:host {
    display: flex;
}

.story {

    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 15px;

    &--header {

        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: space-between;

        h1 {
            display: flex;
        }

    }

    &--text {
        font-size: 1.4em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        &--words {
            cursor: pointer;

            &__item {
                padding: 2px;
            }

            .highlight {
                background-color: yellow;
            }
        }

    }

}
