
<div class="container">

    <div class="container--filter">

        <form>
            <mat-form-field>
                <input type="text"
                       placeholder="Select a Country"
                       aria-label="Country"
                       matInput
                       [formControl]="myControl"
                       (keyup.enter)="addCountry()"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let country of countriesFiltered | async" [value]="country">
                        {{country}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>

        <div *ngFor="let country of countriesSelected">
            {{country}}
        </div>

<!--        <mat-form-field>-->
<!--            <mat-chip-list #chipList *ngFor="let country of countriesSelected">-->
<!--                <mat-chip>{{country}}</mat-chip>-->
<!--            </mat-chip-list>-->
<!--            <input [matChipInputFor]="countriesFiltered">-->
<!--        </mat-form-field>-->

    </div>

    <mat-divider></mat-divider>

    <div [hidden]="false" id="recovered" #recovered></div>
    <div [hidden]="false" id="confirmed" #confirmed></div>
    <div [hidden]="false" id="deaths" #confirmed></div>

<!--    <mat-tab-group>-->
<!--        <mat-tab label="Deaths">  <div id="deaths"></div> </mat-tab>-->
<!--        <mat-tab label="Recovered">  <ng-template recovered></ng-template> </mat-tab>-->
<!--        <mat-tab label="Confirmed"> <ng-template confirmed></ng-template> </mat-tab>-->
<!--    </mat-tab-group>-->

</div>





