<div class="container">

    <div class="container--filter">

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Countries
                    </mat-panel-title>
                    <mat-panel-description>
                        Filter by countries
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-form-field>
                    <input type="text"
                           placeholder="Type a country name"
                           aria-label="Country"
                           matInput
                           [formControl]="myControl"
                           (keyup.enter)="addCountry()"
                           [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option (click)="addCountry()" *ngFor="let country of countriesFiltered | async"
                                    [value]="country">
                            {{country}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <div>
                    <button (click)="removeCountry(country)" mat-flat-button *ngFor="let country of countriesSelected">
                        {{country}} <i class="material-icons">delete</i>
                    </button>
                </div>

            </mat-expansion-panel>
        </mat-accordion>



    </div>


    <mat-divider></mat-divider>


    <mat-tab-group (selectedTabChange)="changeTab($event)">
        <mat-tab label="Deaths" deaths>
            <ng-template deaths></ng-template>
        </mat-tab>
        <mat-tab label="Recovered">
            <ng-template recovered></ng-template>
        </mat-tab>
        <mat-tab label="Confirmed">
            <ng-template confirmed></ng-template>
        </mat-tab>
    </mat-tab-group>

</div>

<div>
    <div [hidden]="!charts[statTypeDeathIndex].isDisplay" id="deaths" #deaths></div>
    <div [hidden]="!charts[startTypeRecoveredIndex].isDisplay" id="recovered" #recovered></div>
    <div [hidden]="!charts[startTypeConfirmedIndex].isDisplay" id="confirmed" #confirmed></div>
</div>




