.container {
    display: flex;
    flex-direction: column;
    margin: 15px;

    &--filter {

    }

    &--charts {

    }

}


#deaths {
    height: 500px;
    width: auto;
}

#confirmed {
    height: 500px;
    width: auto;
}

#recovered {
    height: 500px;
    width: auto;
}
