
:host{
    width: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: auto;

    &--filter {
        button {
            margin-right: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 10px;
            color:white;
            background-color: #3f51b5;

            i {
                margin-left: 10px;
            }
        }
    }

    mat-divider {
        margin-top: 15px;
    }

    &--charts {

    }

}


#deaths {
    height: 500px;
    width: auto;
}

#confirmed {
    height: 500px;
    width: auto;
}

#recovered {
    height: 500px;
    width: auto;
}
