
:host {
    display: flex;
}

.home {
    display: flex;
    overflow: hidden;
    align-items: flex-end;

    &--text {
        position: absolute;
        top: 40px;
        left: 30px;
        color: #EFEDEC;
    }

    &--image {
        display: flex;
        overflow: hidden;
        align-items: flex-end;

        img {
            width: 100%;
            height: auto;
            max-width: 100%;
        }
    }



}

