
.hsk {

    margin: 15px;
    font-size: 1.4em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;

    .words {

        &__item {
            padding: 2px;
        }

        .higlight {
            background-color: yellow;
        }

    }

}
