
.hsk {

    margin: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;

    .words {

        &__item {
            margin: 10px;
        }

    }

}

.custom-tooltip {
    white-space: pre;
    font-size: 1em;
    background-color: red;
}
