/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// TODO embedded it instead of distant import
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Roboto');


$app-color-grey: #EFEDEC;

// as defined in angular material
body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

// Override tooltip element in order to support multiline (cannot set tooltipclass cause it break hide delay)
mat-tooltip-component > .mat-tooltip {
    white-space: pre;
    font-size: 0.9em;
}
