
.songs {

  text-align: center;
  margin-left: 15px;
  margin-right: 15px;

  .lyric {

    margin-top: 25px;
    width: fit-content;
  
    &__lang {

      &--cn {
        color: #2E5266;
      }

      &--en {
        color: #62799E;
      }

      &__word {
        margin: 5px;

       
        &__phonetic {
          margin-top: 5px;
        }

      }
    }
  }

}

@media (max-width: 576px) { 

  .row
  .col {
    padding: 0px !important;
  }

}