<div *ngIf="apiSong != null" class="songs">

  <div>{{title}}</div>

  <a [href]="url">{{url}}</a>

  <div>

    <div *ngFor="let lyricLangs of song.lyrics" class="lyric container-fluid">

      <div *ngFor="let lyricLang of lyricLangs" class="lyric__lang row justify-content-around"
        [ngClass]="'lyric__lang--' + lyricLang.lang">

        <div *ngFor="let word of lyricLang.words; let wordPos = index" class="lyric__lang__word col text-center">

          {{word}}

          <div *ngIf="lyricLang.phoneWords[wordPos] != null" class="lyric__lang__word__phonetic">
            {{lyricLang.phoneWords[wordPos]}}
          </div>

        </div>

      </div>

    </div>

  </div>


</div>