
.song {

  text-align: center;
  margin-left: 15px;
  margin-right: 15px;

  &__langs {
    
    ul {
      display: inline-flex;
    
      li {
        margin: 15px;
        border-radius: 10px;
        width: 100px;
        text-align: center;
      }
    
    }
  
  }

  .lyric {

    margin-top: 25px;
    width: fit-content;
  
    &__lang {

      &__container {
        display: inline-flex;
      }

      &--cn {
        color: #2E5266;
      }

      &--en {
        color: #62799E;
      }

      &__word {
        margin: 5px;

       
        &__phonetic {
          margin-top: 5px;
        }

      }
    }
  }

}

.footer {
  flex-shrink: 0;
}

@media (max-width: 576px) { 

  .row
  .col {
    padding: 0px !important;
  }

}