
.songs {

  text-align: center;

  .lyric {

    margin-top: 25px;
    width: fit-content;
  
    &__lang {
      background-color: azure;
  
      &__word {
        margin: 5px;

        &__phonetic {
          margin-top: 5px;
        }

      }
    }
  }

}

@media (max-width: 576px) { 

  .row
  .col {
    padding: 0px !important;
  }

}